<html>
	<link href="webcss2.css" rel="stylesheet" type="text/css">
		<body>
			<div id="header">
				<h1> <!-- Logo -->
				<!--	<img src="images/TC_Logo_RGB.png" /> -->
				</h1>
				
				<div id="nav">
						<img src="images/TC_Logo_RGB.png" align="left" />
					<ul>
						<li><a href="home.html">Home    </a></li>
						<li><a href="projects.html">Projects    </a></li>
						<li><a href="services.html">Services    </a></li>
						<li><a href="about.html">About Us    </a></li>
						<li><a href="contacts.html">Contacts    </a></li>				
					</ul>
				</div>
			</div>
			<div id="content">
				<div id="feature">
					<p>Feature</p>
				</div>
				<div class="article column1">
					<p>Column One</p>
				</div>
				<div class="article column2">
					<p>Column Two</p>
				</div>
				<div class="article column3">
					<p>Column Three</p>
				</div>
			</div>
			<div id="footer">
				<p>&copy; Copyright 2018 - Technical Construction Pty Ltd BRN:</p>
			</div>
		</body>	
<html>
